---
import { SITE_TITLE } from "../conts";
---

<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{SITE_TITLE}</title>
    <link rel="icon" type="image/png" href="/logo-white.png" />
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body class="bg-gray-50 text-gray-800">
    <slot />
  </body>
</html>
